
html 
    background #F0F0F0
    overflow-y hidden

*
    padding 0px
    margin 0px
    box-sizing border-box
    font-family Arial

#content
    width 100%
    height 100%
    position absolute

#GLContainer
    width 60%
    height 100%
    float left
    position relative

#Stats
    width 40%
    height 100%
    float left
    background white
    box-shadow -3px 0px 10px rgba(0,0,0,0.1)
    border-left 1px rgba(0,0,0,0.5)
    padding 15px

#title, #display
    position absolute

#title
    padding-top 10px
    padding-left 15px
    left 0%

#display
    left 0%
    bottom 0%
    padding 15px

#btn-calibrate
    background #006699
    padding 10px
    color white
    border-radius 2px
    cursor pointer
    float left
    margin-bottom 10px

#rt-measurements
    top 120px
    clear both

    p
        padding-top 5px
        padding-bottom 5px

.subtitle
    font-weight normal

#graph
    width 100%

#sessions
    position absolute
    right 0
    bottom 0
    padding-right 10px

    h3
        float right

    ul
        float right
        clear both
        max-height 200px
        overflow-y -moz-scrollbars-vertical
        overflow-y scroll
        padding-top 10px
        padding-bottom 10px

#input-record
    float right
    font-size 18px
    padding 5px
    margin-left 10px
    clear both

#btn-record
    float right
    background #888
    padding 10px
    color white
    border-radius 2px
    cursor pointer
    margin-bottom 10px

#record-hint
    display none
    float right
    margin-left 10px
    clear both
    font-size 18px
    padding 10px

#measurements
    ul
        list-style none    