
html 
    background #F0F0F0

#btn-calibrate
    background #006699
    padding 10px
    float left
    position absolute
    color white
    border-radius 2px
    cursor pointer

#display
    position absolute
    padding 10px
    top 120px