!!! 5
//- link(rel='stylesheet', href='/assets/stylesheets/home.css')
p Hello world

#GLCanvas

script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js')
//- script(type='text/javascript', src='/socket.io/socket.io.js?body=0')
script(type='text/javascript', src='/assets/lib/webglhelper.js')
script(type='text/javascript', src='/assets/lib/three.min.js')
script(type='text/javascript', src='/assets/lib/orbitcontrols.js')
script(type='text/javascript', src='/assets/lib/shaderskin.js')
script(type='text/javascript', src='/scripts/client.js?body=0')
script(type='text/javascript', src='/scripts/renderer.js')