!!! 5
html
    head
        title= title
        //- link(rel='stylesheet', href='/assets/stylesheets/app.css')
        meta(name='KEYWORDS', content='ekwip')
        //- meta(name='Description', content='Description.')
    body
        
        #content 
            != body
